POSTGRES_PASSWORD=CHANGE_ME
RABBITMQ_USER=autonomus
RABBITMQ_PASSWORD=CHANGE_ME
JWT_KEY=CHANGE_ME_MIN_32_CHARACTERS_LONG
INTEGRATION_ENCRYPTION_KEY=CHANGE_ME_BASE64_32_BYTES
SEED_ADMIN_PASSWORD=CHANGE_ME
APP_BASE_URL=http://164.68.99.83:8091
COMMS_ALLOW_SIMULATION=true
# OPENAI_API_KEY=
# SENDGRID_API_KEY=
# HUBSPOT_CLIENT_ID=
# HUBSPOT_CLIENT_SECRET=
